@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: white;
  color: blue;
}

a {
  cursor: pointer;
}
